@using Entities.Models;
@model IEnumerable<Blog>
<style>
    tr {
        height: 90px; /* Tüm satırlar için yükseklik ayarlama */
    }
</style>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoriesMenu")
        <br /><br /><br />

    </div>

    
    <div class="col-md-9">
        <div class="display-6">Blogs</div>

                <div class="d-flex justify-content-end my-3">
                    @if (User.Identity.IsAuthenticated) // Kullanıcı giriş yaptı mı?
                    {

                        <a class="btn btn-outline-success" asp-action="Create">
                            <i class="fa fa-plus"></i>
                            Create
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-info" asp-controller="Account" asp-action="Login">
                            <i class="fa fa-sign-in"></i>
                            Login to Create
                        </a>
                    }
                </div>

        @if (ViewBag.CategoryId != null)
        {
            @await Component.InvokeAsync("CategoryBlogList", new { categoryId = ViewBag.CategoryId })
        }
        else
        {
            @await Component.InvokeAsync("AllBlogList")
        }
   </div>
</div>

