@model IEnumerable<Entities.Models.Blog>
@if (Model != null && Model.Any())
{
    @await Html.PartialAsync("_BlogList", Model)
}
else
{
    <br />
    <br />
    <br />

    <p>There are no blogs available in this category.</p>
}