@model Entities.Models.Blog

<div class="container mt-4">
  
            <h2 class="text-primary text-center" style="color: black">@Model.Title</h2>

            <p class="text-muted" style="font-size: 15px;">
                <strong>Author:</strong> @Model.Author
                <br />
                <strong>Published At:</strong> @Model.PublishedAt.ToString("dd MMMM yyyy")
                <br />
            </p>

            <div class="col-md-5 mb-3">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="@Model.Image" alt="Blog Image" class="img-fluid rounded justify-content-center" />
                }
            </div>
    
</div>
