@model IEnumerable<Entities.Models.Category>


<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Blog" asp-action="Index">All Blogs</a>
    </li>
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@category.CategoryID">
                @category.CategoryName
            </a>
        </li>
    }
</ul>
